bcrypt==4.0.1
cryptography
fastapi~=0.115.0
psycopg2-binary
PyMySQL
python-jose
python-multipart
SQLAlchemy~=2.0.35
uvicorn
passlib~=1.7.4
pytest~=8.3.3
httpx
pytest-asyncio
aiofiles
jinja2
pydantic~=2.9.2
starlette~=0.38.5
pydantic
jose